SUBSYSTEM=="hidraw", ACTION=="add", TAG+="systemd", \
	PROGRAM="/usr/bin/iptsd-check-device --quiet $env{DEVNAME}", \
	PROGRAM="/bin/systemd-escape --path $env{DEVNAME}", \
	ENV{SYSTEMD_WANTS}+="iptsd@$result.service"
